
body {
    font-family: Arial, sans-serif;
}

.login{
    font-size: --font-size-8;
}
.red{
    color: brown;
}

// topページ

.hero_top_image{
    background-image: url(/static/img/top_hero.png);
    background-size: cover;
    background-position: center;
    min-height: 37vh;
}

.biz-hour {
    width: 100%;
    max-width: 780px;
}

.Reservation_time .biz-hour tr td {
    text-align: left;
}

.Reservation_time{
    text-align: center;
}
.biz-hour {
    border-collapse: collapse;
    border:1px solid #333;
    td,th{
        border-collapse: collapse;
        border:1px solid #333;
    }
}